{% extends 'back/base.html' %}

{% block title %}修改栏目 - 异清轩博客管理系统{% endblock %}


{% block index %}
  <div class="row">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <h1 class="page-header">修改栏目</h1>
      <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="category-name">栏目名称</label>
          <input type="text" id="category-name" name="name" value="{{ cate.c_name }}" class="form-control" placeholder="在此处输入栏目名称" required autocomplete="off">
          <span class="prompt-text">这将是它在站点上显示的名字。</span> </div>

        <div class="form-group">
          <label for="category-fname">父节点</label>
          <select id="category-fname" class="form-control" name="fid">
            <option value="" selected>无</option>
            {% for c in cates %}
            <option value="{{ forloop.counter }}">{{ c.c_name }}</option>
            {% endfor %}

          </select>
          <span class="prompt-text">栏目是有层级关系的，您可以有一个“音乐”分类目录，在这个目录下可以有叫做“流行”和“古典”的子目录。</span> </div>

        <button class="btn btn-primary" type="submit" name="submit">更新</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block js2 %}
<script src="/static/staticback/js/bootstrap.min.js"></script>
<script src="/static/staticback/js/admin-scripts.js"></script>
{% endblock %}

